<% content_for :title do 'All Users' end %>

<% @users.each do |user| %>
    <main class="show_user">
        <%= render "shared/display_user", user: user, current_user: @current_user%>

        <p><%= link_to "#{user.username}'s Page", user %></p>
    </main>
<% end %>
