<% content_for :title do 'Users' end %>

<main id='users-index'>

<% @users.each do |user| %>

    <p>
        Username: <%= user.username %>
    </p>
    <p>
        Email: <%= user.email %>
    </p>
    <p>
        <%= link_to 'Click here to find out more about this user and possibly their password', user %>
    </p>

<% end %>

</main>