<% content_for :title do 'All Posts' end %>

<main id='posts-index'>
    <% @posts.reverse.each do |post| %>
        <div class="post">
            <%= render "shared/display_post", user: post.user, post: post %>

            <p><%= link_to 'Go To Post', post %></p>

            <%= render "shared/make_comment", comment: @comment, user: @current_user, post: post %>

            <% post.comments.each do |comment| %>
                <%= render "shared/display_comment", comment: comment, current_user: @current_user %>
            <% end %>

        </div>
    <% end %>
</main>
