<% content_for :title do @post.title end %>

<div class="post">
    <%= render "shared/display_post", user: @post.user, post: @post %>

    <%= render "shared/make_comment", comment: @comment, user: @current_user, post: @post %>

    <% @post.comments.each do |comment| %>
        <%= render "shared/display_comment", comment: comment, current_user: @current_user %>
    <% end %>
</div>
