.display_comment {
    background: rgb(108, 108, 108);
    padding: 10px;
    font-size: 1.1rem;
    border-radius: 10px;
    margin: 10px auto;

    textarea {
        width: 100%;
        height: 60px;
    }
    a {
        font-size: 1rem;
        display: inline-block;
        margin-left: 10px;
    }
    p {
        margin: 0 auto;
    }
    div, button {
        display: inline-block;
    }
    .stretch {
        display: block;
        width: 100%;
    }
}

.comment {
    display: none;
    width: 100%;
}

.offset_comment {
    position: relative;
    top: -200px;
}