* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    max-width: 900px;
    margin: 0 auto;
    background: rgb(220, 220, 220);
}
header {
    font-size: 66px;
    text-align: center;
    color: rgb(184, 184, 184);
    background: rgb(72, 72, 72);
    border-radius: 10px 10px 0 0;
}
a {
    text-decoration: none;
}
input[type=submit], button {
    height: 50px;
}
.yield{
    a {
        color: rgb(245, 245, 245);
        background: rgb(0, 0, 0);
        padding: 4px 6px;
        border-radius: 10px;
    }
}
nav {
    font-size: 0;
    div {
        width: 50%;
        height: 56px;
        line-height: 56px;
        font-size: 40px;
        color: rgb(220, 220, 220);
        background: rgb(36, 36, 36);
        text-align: center;
        display: inline-block;
    }
    div:hover {
        color: rgb(36, 36, 36);
        background: rgb(220, 220, 220);
    }
}
.profile {
    width: 100%;
    height: 56px;
    line-height: 56px;
    font-size: 20px;
    background: rgb(72, 72, 72);
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    div {
        min-width: 136px;
        float: right;
        color: rgb(184, 184, 184);
        text-align: center;
    }
    div:hover {
        color: rgb(220, 220, 220);
        background: rgb(36, 36, 36);
    }
}
.flashes {
    text-align: center;
}
.flash {
    color: white;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    width: 200px;
}
.success {
    background: green;
}
.notice {
    background: orange;
}
.alert {
    background: yellow;
}
.error {
    background: red;
}
textarea {
    resize: vertical;
    border-radius: 10px;
    padding: 6px;
}
.center {
    text-align: center;
}
@media all and (max-width: 568px) {
    .profile {
        height: 112px;
    }
}