.post {
    box-sizing: border-box;
    padding: 20px;
    background: rgb(36, 36, 36);
    color: rgb(220, 220, 220);
    margin: 10px auto;
}

a {
    color: rgb(245, 245, 245);
    background: rgb(0, 0, 0);
}