.signin {
    text-align: center;
    
    div {
        display: inline-block;

        label, input {
            display: block;
        }
    }

    input[type=submit] {
        display: inline-block;
    }
}